In [1]:
import pandas as pd

# Python Program to append rows in pandas dataframes using for loop

In [2]:
sci = pd.read_csv("science.txt",header = 0)
display(sci)
com = pd.read_csv("comm.txt", header =0)
display(com)

l = list(sci)
result =[]
x = 0
for i in range(3):
    l2 = list(com.iloc[x])
    z =zip(l,l2)
    zd  = dict(z)
    result.append(zd)
    x = x+1

admin = sci.append(result).set_index(["Admission Number"])
display(admin)

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing
0,CV2022963,Amar,PCMC,-89.00,SSLC,Vidyaniketan,2011
1,CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021
2,CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021
3,CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,2020
4,CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021
5,CV2022970,Indu,PCME,99.80,SSLC,MES,2021
6,CV2022971,John,PCMC,750.23,SSLC,Government HS,2021
7,CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,2223
8,CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021
9,CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,2020
10,CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing
0,CV2022801,Rajiv,CEBA,-78.36,SSLC,JSS,2021
1,CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021
2,CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021
3,CV2022802,Chirag,CSBA,96.35,SSLC,RVPS,2022
4,CV2022973,Jack,ESBA,90.00,SSLC,Vidyaniketan,2021
5,CV2022803,Jill,ESBA,65.36,SSLC,Vidyaniketan,2021
6,CV2022976,Bholu,CEBA,69.70,SSLC,BMS,2021
7,CV2022977,Kalia,ESBA,85.25,SSLC,St Anneâ€™s,2021
8,CV2022804,Rani,MSBA,75.36,SSLC,Vidya Mandir,2021
9,CV2022805,Vidya,CEBA,100.63,CBSE,MES,2000

,Student Name,Course,10th Marks,Board,School,Year of Passing
Admission Number,,,,,,
CV2022963,Amar,PCMC,-89.00,SSLC,Vidyaniketan,2011
CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021
CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021
CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,2020
CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021
CV2022970,Indu,PCME,99.80,SSLC,MES,2021
CV2022971,John,PCMC,750.23,SSLC,Government HS,2021
CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,2223
CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021
CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,2020
CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021
CV2022801,Rajiv,CEBA,-78.36,SSLC,JSS,2021
CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021
CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021

In [3]:
for i in range(0, len(admin.index),1):
    if admin["10th Marks"][i]>100.00 or admin["10th Marks"][i]<0:
        admin["10th Marks"][i] = None
    if admin["Year of Passing"][i]<2021 or admin["Year of Passing"][i]>2021:
        admin["Year of Passing"][i] = 0

C:\Users\User\AppData\Local\Temp/ipykernel_6132/3962820431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["10th Marks"][i] = None
C:\Users\User\AppData\Local\Temp/ipykernel_6132/3962820431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["Year of Passing"][i] = 0

In [4]:
admin["Result"] = "Null"
for i in range(0, len(admin.index),1):
    if admin["10th Marks"][i]> 80 :
        admin["Result"][i] = "Distinction"
    elif admin["10th Marks"][i]> 65:
        admin["Result"][i] = "First Class"
    elif admin["10th Marks"][i]> 45:
        admin["Result"][i] = "Second Class"
    elif admin["10th Marks"][i]> 35:
        admin["Result"][i] = "Pass"
    else:
        admin["Result"][i] = "--"

C:\Users\User\AppData\Local\Temp/ipykernel_6132/2054129054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["Result"][i] = "--"
C:\Users\User\AppData\Local\Temp/ipykernel_6132/2054129054.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["Result"][i] = "First Class"
C:\Users\User\AppData\Local\Temp/ipykernel_6132/2054129054.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["Result"][i] = "Distinction"
C:\Users\User\AppData\Local\Temp/ipykernel_6132/2054129054.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin["Result"][i] = "Second Class"

In [5]:
admin  =admin.sort_values(by = 'Admission Number')

In [6]:
admin.to_csv("university.txt")

In [7]:
a =pd.read_csv("university.txt")

In [8]:
a

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing,Result
0,CV2022801,Rajiv,CEBA,NaN,SSLC,JSS,2021,--
1,CV2022963,Amar,PCMC,NaN,SSLC,Vidyaniketan,0,--
2,CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021,First Class
3,CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021,First Class
4,CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,0,Distinction
5,CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021,Distinction
6,CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021,Second Class
7,CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021,Distinction
8,CV2022970,Indu,PCME,99.80,SSLC,MES,2021,Distinction
9,CV2022971,John,PCMC,NaN,SSLC,Government HS,2021,--
10,CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,0,Distinction
11,CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021,Distinction
12,CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,0,First Class
13,CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021,Distinction

In [2]:
import pandas as pd

In [21]:
sci = pd.read_csv("science.txt",header = 0)
display(sci)
com = pd.read_csv("comm.txt", header =0)
display(com)

for i in range(0,4):
    sci = sci.append(com.loc[i], ignore_index=True)
display(sci)

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing
0,CV2022963,Amar,PCMC,-89.00,SSLC,Vidyaniketan,2011
1,CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021
2,CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021
3,CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,2020
4,CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021
5,CV2022970,Indu,PCME,99.80,SSLC,MES,2021
6,CV2022971,John,PCMC,750.23,SSLC,Government HS,2021
7,CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,2223
8,CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021
9,CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,2020
10,CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing
0,CV2022801,Rajiv,CEBA,-78.36,SSLC,JSS,2021
1,CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021
2,CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021
3,CV2022802,Chirag,CSBA,96.35,SSLC,RVPS,2022
4,CV2022973,Jack,ESBA,90.00,SSLC,Vidyaniketan,2021
5,CV2022803,Jill,ESBA,65.36,SSLC,Vidyaniketan,2021
6,CV2022976,Bholu,CEBA,69.70,SSLC,BMS,2021
7,CV2022977,Kalia,ESBA,85.25,SSLC,St Anneâ€™s,2021
8,CV2022804,Rani,MSBA,75.36,SSLC,Vidya Mandir,2021
9,CV2022805,Vidya,CEBA,100.63,CBSE,MES,2000

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing
0,CV2022963,Amar,PCMC,-89.00,SSLC,Vidyaniketan,2011
1,CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021
2,CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021
3,CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,2020
4,CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021
5,CV2022970,Indu,PCME,99.80,SSLC,MES,2021
6,CV2022971,John,PCMC,750.23,SSLC,Government HS,2021
7,CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,2223
8,CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021
9,CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,2020
10,CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021
11,CV2022801,Rajiv,CEBA,-78.36,SSLC,JSS,2021
12,CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021
13,CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021
14,CV2022802,Chirag,CSBA,96.35,SSLC,RVPS,2022

In [22]:
for i in range(0, len(sci.index),1):
    if sci["10th Marks"][i]>100.00 or sci["10th Marks"][i]<0:
        sci["10th Marks"][i] = None
    if sci["Year of Passing"][i]<2021 or sci["Year of Passing"][i]>2021:
        sci["Year of Passing"][i] = 0

C:\Users\User\AppData\Local\Temp/ipykernel_12400/1664463381.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["10th Marks"][i] = None
C:\Users\User\AppData\Local\Temp/ipykernel_12400/1664463381.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["Year of Passing"][i] = 0

In [23]:
sci["Result"] = "Null"
for i in range(0, len(sci.index),1):
    if sci["10th Marks"][i]> 80 :
        sci["Result"][i] = "Distinction"
    elif sci["10th Marks"][i]> 65:
        sci["Result"][i] = "First Class"
    elif sci["10th Marks"][i]> 45:
        sci["Result"][i] = "Second Class"
    elif sci["10th Marks"][i]> 35:
        sci["Result"][i] = "Pass"
    else:
        sci["Result"][i] = "--"

C:\Users\User\AppData\Local\Temp/ipykernel_12400/3771977010.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["Result"][i] = "--"
C:\Users\User\AppData\Local\Temp/ipykernel_12400/3771977010.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["Result"][i] = "First Class"
C:\Users\User\AppData\Local\Temp/ipykernel_12400/3771977010.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["Result"][i] = "Distinction"
C:\Users\User\AppData\Local\Temp/ipykernel_12400/3771977010.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sci["Result"][i] = "Second Class"

In [24]:
sci  =sci.sort_values(by = 'Admission Number')

In [25]:
sci.to_csv("university1.txt")

In [26]:
sci

,Admission Number,Student Name,Course,10th Marks,Board,School,Year of Passing,Result
11,CV2022801,Rajiv,CEBA,NaN,SSLC,JSS,2021,--
14,CV2022802,Chirag,CSBA,96.35,SSLC,RVPS,0,Distinction
0,CV2022963,Amar,PCMC,NaN,SSLC,Vidyaniketan,0,--
1,CV2022964,Raj,PCME,75.00,CBSE,Kendriya Vidyalaya,2021,First Class
2,CV2022965,Sita,PCME,65.30,SSLC,Chinmaya Vidyalaya,2021,First Class
3,CV2022966,Chutki,PCMB,95.63,SSLC,St Josephs,0,Distinction
12,CV2022967,Bheem,ESBA,85.00,SSLC,BMS,2021,Distinction
13,CV2022968,Raju,CEBA,55.35,CBSE,Kendriya Vidyalaya,2021,Second Class
4,CV2022969,Chutki,PMCS,89.63,SSLC,Vidya Mandir,2021,Distinction
5,CV2022970,Indu,PCME,99.80,SSLC,MES,2021,Distinction
6,CV2022971,John,PCMC,NaN,SSLC,Government HS,2021,--
7,CV2022972,Jill,PCME,82.30,SSLC,Christ Academy,0,Distinction
8,CV2022974,Jaggu,PCMB,85.65,SSLC,Vidya Mandir,2021,Distinction
9,CV2022975,Dholu,PCMC,65.50,SSLC,Chinmaya Vidyalaya,0,First Class
10,CV2022978,Navin,PCMC,95.00,CBSE,Kendriya Vidyalaya,2021,Distinction